# utilities
numpy==1.26.4
opencv-python-headless==4.8.1.78
pandas
# face recognition(it classify the face)
scikit-learn
dlib
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0
# 
supabase==2.5.1
# provide the hashing method 
bcrypt

segno
pillow

streamlit
librosa
resemblyzer